/*This code is for cursor poninter*/
.menu-item {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.menu-item:hover {
    background-color: #1a2c6b;
}
/*Company Name Style*/ 
.company-name {
    color: #4CAF50;
    font-size: 40px;
    font-weight: bold;
}